In [9]:
import numpy as np
import pandas as pd

In [10]:
di={'Sky':['sunny','sunny','rainy','sunny'],
   'Air_temp':['warm','warm','cold','warm'],
   'Humidity':['Normal','high','high','high'],
   'Wind':['strong','strong','strong','strong'],
   'Water':['warm','warm','warm','cool'],
   'Forecast':['same','same','change','change'],
   'Enjoysport':['yes','yes','no','yes']}
data=pd.DataFrame(di)
data

     Sky Air_temp Humidity    Wind Water Forecast Enjoysport
0  sunny     warm   Normal  strong  warm     same        yes
1  sunny     warm     high  strong  warm     same        yes
2  rainy     cold     high  strong  warm   change         no
3  sunny     warm     high  strong  cool   change        yes

In [11]:
nu=len(data.axes[1])-1
nu

6

In [12]:
a=data.to_numpy()
a

array([['sunny', 'warm', 'Normal', 'strong', 'warm', 'same', 'yes'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same', 'yes'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change', 'no'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change', 'yes']],
      dtype=object)

In [13]:
g=['?']*nu
s=[0]*nu
g,s

(['?', '?', '?', '?', '?', '?'], [0, 0, 0, 0, 0, 0])